@model List<string>

@{
    ViewBag.Title = "Index";
}

<h4>בניינים</h4>
<hr/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("שם הבניין")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>
            <td>
                @Html.ActionLink("ערוך", "Edit", new { building = item}) |
                @Html.ActionLink("מחק", "Delete", new { building = item})
            </td>
        </tr>
    }

</table>
