@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">שגיאה</h1>
@Html.ActionLink("חזור לדף הבית", "Index", "Labs")
<p></p>
@Html.ActionLink("התחבר למערכת", "Account", "Login")

