
@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script> 
<div class="row" dir="rtl">
    <h1>לוגו של האוניברסיטה</h1>
</div>
<div dir="rtl">
    <div>
        @*TBD - put this view without the actionlink *@
        @{ Html.RenderPartial("~/Views/Labs/Index.cshtml"); }
    </div>
    <div>
        @*TBD -תצוגה על גבי מפה*@
        <h5></h5>
    </div>
</div>